<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><%- process.env.TITLE %></title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
		type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Waves Effect Css -->
	<link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

	<!-- Animation Css -->
	<link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

	<!-- Bootstrap Material Datetime Picker Css -->
	<link href="/js/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
		rel="stylesheet" />

	<!-- Bootstrap DatePicker Css -->
	<link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

	<!-- Wait Me Css -->
	<link href="/js/plugins/waitme/waitMe.css" rel="stylesheet" />

	<!-- Custom Css -->
	<link href="/css/css/style.css" rel="stylesheet">

	<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="/css/css/themes/all-themes.css" rel="stylesheet" />

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

	<!-- Inclusão de Máscaras Js-->
	<script src="/js/shopping-crianca-mask.js"></script>

</head>

<body id="theme-teal">
	<!-- Header -->
	<%- include ../template/topo.ejs %>
	<!-- Menu -->
	<%- include ../template/menu.ejs %>
	<!-- Content Wrapper -->
	<section class="content">
		<!-- Begin Page Content -->
		<div class="content-fluid">
			<%- messages() %>
			<!-- Page Heading -->
			<div class="block-header">
				<h2>Cadastrar Associado</h2>
			</div>
			<form class="user" method="POST" action="/app/<%= page %>/create/submit" enctype="multipart/form-data">
				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="card">
							<div class="header">
								<h2>Informações Gerais</h2>
							</div>
							<div class="body">
								<div class="row clearfix">
									<div class="col-sm-7">
										<div class="input-group">
											<div class="form-line">
												Nome Completo:
												<input type="text" class="form-control" id="nome" name="nome" required treatment="capitalize">
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Matrícula:
												<input type="text" class="form-control" id="matricula" name="matricula"
													required>
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												CPF:
												<input type="text" class="form-control" id="cpf" name="cpf" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												RG:
												<input type="text" class="form-control" id="rg" name="rg" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Orgão Expeditor:
												<input type="text" class="form-control" id="orgao_expedidor"
													name="orgao_expedidor" required treatment="capitalize">
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Sexo:
												<select name="sexo" id="sexo" class="form-control">
													<option value="MASCULINO">MASCULINO
													</option>
													<option value="FEMININO">FEMININO</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Data de Nascimento:
												<input type="date" class="form-control" id="datanascimento"
													name="datanascimento" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Estado Civil:
												<select name="tpEstadoCivil" id="tpEstadoCivil" class="form-control">
													<option value="SOLTEIRO">SOLTEIRO(A)
													</option>
													<option value="CASADO">CASADO(A)</option>
													<option value="UNIAO_ESTAVEL">UNIAO_ESTAVEL</option>
													<option value="DIVORCIADO">DIVORCIADO(A)</option>
													<option value="VIUVO">VIUVO(A)</option>
													<option value="SEPARADO">SEPARADO(A)</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Telefone Residencial:
												<input type="text" class="form-control" id="tel_res" name="tel_res">
											</div>
										</div>
									</div>									
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Telefone Celular: *
												<input type="text" class="form-control" id="tel_cel" name="tel_cel"
													maxlength="15" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Anexo de Documento:
												<input type="file" class="form-control" id="file" name="file">
											</div>
										</div>
									</div>
								</div>
								<div class="header" style="padding: 20px 20px 20px 0 !important; margin-bottom: 20px;">
									<h2>Endereço</h2>
								</div>
								<div class="row clearfix">
									<div class="col-sm-5">
										<div class="input-group">
											<div class="form-line">
												Logradouro:
												<input type="text" class="form-control" id="logradouro"
													name="logradouro" treatment="capitalize">
											</div>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="input-group">
											<div class="form-line">
												Número:
												<input type="text" class="form-control" id="numero" name="numero">
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Complemento:
												<input type="text" class="form-control" id="complemento"
													name="complemento" required>
											</div>
										</div>
									</div>

								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Bairro:
												<input type="text" class="form-control" id="bairro" name="bairro"
													maxlength="15" treatment="capitalize">
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												CEP:
												<input type="text" class="form-control" id="cep" name="cep"
													maxlength="15">
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Município:
												<select class="form-control" id="municipio" name="municipio">
													<% for (var i = 0; i < itensMunicipios.length; i++) { %>
													<% if (itensMunicipios[i].id != null ) { %>
													<option id="municipio" name="municipio" value="<%- itensMunicipios[i].id %>">
														<%= itensMunicipios[i].nome %>
													</option>
													<% } %>
													<% } %>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="header" style="padding: 20px 20px 20px 0 !important; margin-bottom: 20px;">
									<h2>Informações Profissionais</h2>
								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Rede de Ensino:
												<select name="tpRedeEnsino" id="tpRedeEnsino" class="form-control">
													<option value="ESTADUAL">ESTADUAL
													</option>
													<option value="MUNICIPAL">MUNICIPAL</option>
													<option value="EFETIVO">EFETIVO</option>
													<option value="CONTRATADO">CONTRATADO</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="input-group">
											<div class="form-line">
												Município de Lotação:
												<select class="form-control" id="municipio_lotacao"
													name="municipio_lotacao">
													<% for (var i = 0; i < itensMunicipios.length; i++) { %>
													<% if (itensMunicipios[i].id != null ) { %>
													<option id="municipio_lotacao" name="municipio_lotacao" value="<%- itensMunicipios[i].id %>">
														<%= itensMunicipios[i].nome %>
													</option>
													<% } %>
													<% } %>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="input-group">
											<div class="form-line">
												Escola de Trabalho:
												<input type="text" class="form-control" id="nome_escola"
													name="nome_escola" required>
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Turno:
												<select name="turno" id="turno" class="form-control">
													<option value="MATUTINO">MATUTINO
													</option>
													<option value="VESPERTINO">VESPERTINO</option>
													<option value="INTEGRAL">INTEGRAL</option>
													<option value="NOTURNO">NOTURNO</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="input-group">
											<div class="form-line">
												Situação:
												<select name="situacao" id="situacao" class="form-control">
													<option value="ATIVO">ATIVO</option>
													<option value="APOSENTADO">APOSENTADO</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="input-group">
											<div class="form-line">
												Atividade Funcional:
												<select class="form-control selectpicker" id="atividade_funcional"
													name="atividade_funcional">
													<option value="0" selected="">-SELECIONE-</option>
													<option value="1">AGENTE ADMINISTRATIVO</option>
													<option value="21">ASSESSORA PEDAGÓGICA</option>
													<option value="2">ASSISTENTE ADMINISTRATIVO</option>
													<option value="3">BIBLIOTECÁRIO(A)</option>
													<option value="4">COORDENADOR(A)</option>
													<option value="5">DIGITADOR(A)</option>
													<option value="6">DIRETOR(A)</option>
													<option value="7">INSPETOR ESCOLAR</option>
													<option value="8">MERENDEIRO(A)</option>
													<option value="9">MOTORISTA</option>
													<option value="10">ORIENTADOR(A) PEDAGÓGICO(A)</option>
													<option value="25">PROFESSOR EDUCAÇÃO ESPECIAL</option>
													<option value="11">PROFESSOR(A)</option>
													<option value="20">REPRÓGRAFA</option>
													<option value="12">SECRETÁRIA</option>
													<option value="14">SERVIÇOS GERAIS</option>
													<option value="15">SUPERVISOR ESCOLAR</option>
													<option value="19">TÉCNICO EM INFORMÁTICA</option>
													<option value="16">VICE DIRETOR(A)</option>
													<option value="17">VIGILANTE</option>
													<option value="18">ZELADOR(A)</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Disciplina:
												<input type="text" class="form-control" id="disciplina"
													name="disciplina" required>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Escolaridade:
												<select name="tpEscolaridade" id="tpEscolaridade" class="form-control">
													<option value="FUNDAMENTAL">FUNDAMENTAL
													</option>
													<option value="ENSINO_MEDIO_INCOMPLETO">ENSINO MÉDIO
														INCOMPLETO</option>
													<option value="ENSINO_MEDIO_COMPLETO">ENSINO MÉDIO
														COMPLETO</option>
													<option value="SUPERIOR_INCOMPLETO">SUPERIOR INCOMPLETO
													</option>
													<option value="SUPERIOR_COMPLETO">SUPERIOR COMPLETO
													</option>
													<option value="ESPECIALIZACAO">ESPECIALIZACAO</option>
													<option value="MESTRADO">MESTRADO</option>
													<option value="DOUTORADO">DOUTORADO</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<div class="form-line">
												Faixa Salarial:
												<select name="faixaSalario" id="faixaSalario" class="form-control">
													<option value="UM_SALARIO">1 SALÁRIO MÍNIMO
													</option>
													<option value="DOIS_SALARIO">2 SALÁRIO MÍNIMO</option>
													<option value="TREIS_SALARIO">3 SALÁRIO MÍNIMO</option>
													<option value="QUATRO_SALARIO">4 SALÁRIO MÍNIMO
													</option>
													<option value="MAIOR_CINCO_SALARIO">acima de 5 SALÁRIO
														MÍNIMO
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>								
							<div class="footer-card">
								<input type="submit" value="Salvar"
									class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
								<a href="/app/<%= page %>/Pre-cadastro"
									class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
							</div>		
						</div>		
					</div>
				</div>
			</form>
		</div>
		<!-- /.container-fluid -->

	</section>
	<!-- End of Content Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('.toast').toast('show');
	</script>
	<!-- Jquery Core Js -->
	<script src="/js/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core Js -->
	<script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

	<!-- Slimscroll Plugin Js -->
	<script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

	<!-- Waves Effect Plugin Js -->
	<script src="/js/plugins/node-waves/waves.js"></script>

	<!-- Autosize Plugin Js -->
	<script src="/js/plugins/autosize/autosize.js"></script>

	<!-- Bootstrap Material Datetime Picker Plugin Js -->
	<script src="/js/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

	<!-- Bootstrap Datepicker Plugin Js -->
	<script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<!-- Custom Js -->
	<script src="/js/js/admin.js"></script>
	<script src="/js/js/pages/forms/basic-form-elements.js"></script>

	<!-- Jquery Mask Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	

</body>

</html>